body{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793,
    #00bf72, #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja{
  background-color: rgba(0, 0, 0, 0.4);
  width: 500px;
  height: 500px;
  margin: 1px auto;
}
h1{
  background: #0F0E0E;
  font-family: serif;
  width: 90%;
  color: #03FAD1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
}
header nav{
  width: 40%;
  background: white;
  position: relative;
  top: 70px;
  left: 30%;
}
header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav  ul  li  a{
  display:block;
  background: #2C2A2D;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-family: serif;
  font-size: 20px;
  border:1px solid #580000;
}
header nav ul li a:hover{
  background-color: #A43E37;
  box-shadow: 0px 10px 15px #580000;
}
#inicio{
  display: none;
}
input{
  width: 100%;
  border: 1px solid #580000;
  padding: 10px;
}
input:focus{
  border:1px solid #580000;
  box-shadow: 1px 1px 5px #580000;
}
#inicio:target{
  display: block;
}
input[type="submit"]{
  margin-bottom: 0;
  background:rgba(12, 56, 58, 1);
  color:  #F55A21;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}
input[type="submit"]:hover{
  background:#A43E37;
  color: white;
  cursor:pointer;
}
#registro{
  background: #8AFAF2;
  width: 100%;
  display: none;
}
#registro a{
  display: block;
  font-family: serif;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 10px;
}
#registro a:hover{
  cursor: pointer;
  background: #375653;
  color: white;
  transition: all 0.5s ease;
}
#registro:target{
  display: block;
}
#inicio a{
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793,
    #00bf72, #a8eb12);
  display: block;
  color: white;
  width: 90%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
#inicio a:hover{
  background-image: linear-gradient(to right top, #a8eb12, #00bf72, #008793,
    #004d7a, #051937);
  color: #58FA58;
  font-size: 20px;
  font-family: fantasy;
}
#registroCondutor, #registroComercio, #cuenta{
  background: #021715;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 245px;
  display: none;
}
#registroComercio:target, #registroCondutor:target, #cuenta:target{
  display: block;
}
#registroCondutor ul, #registroComercio ul{
  text-align: center;
  background-color: #BBF8EC;
  list-style: none;
  width: 80%;
  height: 70%;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  position: relative;
  left: 10%;
  top: 10px;
  border-radius: 5px;

}
#registroCondutor ul li, #registroComercio ul li{
  padding: 7px;
  width: 40%;
  display: inline-block;
}
#registroCondutor ul li a, #registroComercio ul li a{
  text-decoration: none;
  background:rgba(12, 56, 58, 1);
  padding: 10px;
  display: block;
  width: 300px;
  color:#F55A21;
  border-radius: 5px;
  position: relative;
  right: 75px;
  transition: all 0.5s ease;
}
#registroCondutor ul li a:hover, #registroComercio ul li a:hover{
  background:#A43E37;
  color: white;
  cursor:pointer;
}
 #registroComercio ul{
   height: 50%;
 }
 #cuenta{
   background:url(../imagenes/imagen1.jpg);
   background-size: 100% 100%;
 }
 #cuenta input[type="radio"]{
   display: none;
 }
 #cuenta label, #cuenta nav ul li a{
   color: #00FFFF;
   padding: 5px 15px 5px 51px;
   display: inline-block;
   position: relative;
   bottom: 50px;
   left: 20%;
   font-size: 1em;
   border-radius: 3px;
   cursor: pointer;
   transition: all 0.5s ease;
 }
 #cuenta label:hover, a:hover, #opciones ul li h4:hover, #cuenta nav ul li a:hover{
   background: rgba(0,255,255,0.2);
 }
 #cuenta label::before{
   content: "";
   width: 17px;
   height: 17px;
   display: inline-block;
   background: none;
   border: 3px solid #00FFFF;
   border-radius: 50%;
   position: absolute;
   left: 17px;
   top: 2px;
 }
 #cuenta input[type="radio"]:checked + label{
   padding: 5px 15px;
   background: #01DFD7;
   border-radius: 2px;
   color: #fff;
 }
 #cuenta input[type="radio"]:checked + label::before{
   display: none;
 }
 #cuenta h2{
   background: rgba(66,66,66,0.5);
   color: #00FFFF;
   width: 90%;
   height: 30px;
   padding: 10px;
   position: relative;
   left: 10px;
   top: 10px;
   border-radius: 10px;
 }
 #cuenta nav{
   position: relative;
   left: 290px;
   bottom: 33px;
 }
 #cuenta nav ul{
   list-style: none;
   margin: 0;
   padding: 0;
 }
 #cuenta nav ul li a{
   text-decoration: none;
   padding: 10px;
 }
 #cuenta nav ul li:hover div{
   display: table;
 }
 #cuenta nav ul li div{
 width: 150px;
 position: absolute;
 display: none;
 box-sizing: border-box;
}
 #cuenta nav ul li div ul{
   width: 20%;
   display: table-cell;
 }
 #cuenta nav ul li div ul li a{
   width: 100%;
 }
