{% extends "layout.html" %}
{% block nav %}
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#cuenta">Usuario: {{id}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cuenta">Mapa</a>
        </li>
      </ul>
  </div>
{% endblock %}
{% block body %}
<div class="col-mg-7">
  <table class="table table-striped table-bordered bg-white table-sm">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Provincia</td>
        <td>Localidad</td>
        <td>Domicilio</td>
      </tr>
    </thead>
    <tbody>
      {% for data in datos %}
      <tr>
        <td>{{ data.2 }}</td>
        <td>{{ data.4 }}</td>
        <td>{{ data.5 }}</td>
        <td>{{ data.6 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
