{% extends "layout.html" %}
{% block nav %}
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#cuenta">{{tipo}}: {{id}}</a>
        </li>
        {% if tipo=="comercio" %}
        <li class="nav-item">
          <button id="ejecutar" class="btn btn-primary btn-block">Ejecutar pedido</button>
        </li>
        {% endif %}
  </div>
{% endblock %}
{% block body %}
<style>#map{
  width:500px;
  height: 500px;
}
</style>
  <meta name="yourid" content="{{id}}" />
  <meta name="youruser" content="{{tipo}}" />
  <div id="map"></div>
  <script src="{{url_for('static', filename='js/localizacion.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA53XFkiQBlKsBwFBLWnvVWjxRX45-Je-g&callback=initMap&libraries=&v=weekly"
    defer
  ></script>

  {% endblock %}
